.made_by{
    
    text-align: center;
}

body {
    background-color:pink;
}

.box:hover{
    background-color: rgb(255, 163, 163);
    cursor: pointer;

}

.let_start{
    display: flex;
    justify-content: center;
}

.box{
    margin-top: 10%;

    width: 120px;
    height: 80px;
    
    text-align: center;

    border-radius: 9px;
    border: 2px solid black;
    background-color: rgb(255, 183, 255);
    text-decoration: none;   
    color: white;
}