body{
    margin-top: 10%;
    background-color: rgb(249, 180, 192);

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pfp{

    height: 170px;
    width: 170px;

    background-image: url(pfp_valen.jpg);
    background-size: cover;

    border-radius: 40%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.box{
    border-radius: 10px;
    height: 500px;
    width: 700px;
    background-color: white;
    border: 2px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;  
    
    position: relative;
    
    
}
.box2{
    display: flex;
    flex-direction: column;
    align-items: center;     
    justify-content: center;
}

.bbox{
    padding: 20px;
}

.box3{
    display: flex;
    justify-content: center;
    text-align: center;

    padding: 2px;
}

.yes-no1:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.yes-no2:hover{

}

.box4{      
    display: flex;
    justify-content: center;
    text-align: center;


    position: absolute;
    transition: all 0.2s ease;
}

.writeup{
    text-align: center;
}

.yes-no1{
    height: 80px;
    width: 100px;
    border: 1px solid magenta;
    border-radius: 40%;
    background-color: rgb(255, 57, 255);
}

.yes-no2{
    height: 50px;
    width: 50px;
    border: 1px solid magenta;
    border-radius: 40%;
    background-color: rgb(255, 57, 255);
}

#gifBox h1{
    margin-bottom: 15px;
    color: rgb(255, 57, 255);
}

#gifBox{
    animation: fadeIn 0.4s ease-in;
}

@keyframes fadeIn{
    from { opacity: 0; }
    to { opacity: 1; }
}